name: Trigger auto deployment for perfectfit-api

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/perfectfit-api-AutoDeployTrigger-dc20bea5-bd81-41a1-822d-9b40cfdfad28.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.PERFECTFITAPI_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.PERFECTFITAPI_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.PERFECTFITAPI_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: ./backend/Dockerfile
          _targetLabelKey_: _targetLabel_
          registryUrl: 
          registryUsername: ${{ secrets.PERFECTFITAPI_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.PERFECTFITAPI_REGISTRY_PASSWORD }}
          containerAppName: perfectfit-api
          resourceGroup: perfectfit-rg
          imageToBuild: default/[parameters('containerAppName')]:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_



